<form method="GET" name="sparkql-form" action="/">
  <fieldset>
    <textarea class="sparkql-input" placeholder="City Eq 'Fargo' And..." name="_filter"><%= @filter.filter_text %></textarea>
    <span class="help-block">Enter a SparkQL <tt>_filter</tt> string in the box above.</span>
    <button type="submit" class="btn">Validate</button>
  </fieldset>
</form>
